<%= content_for :messages do %>
<%= render 'georgia/shared/messages', model: @post %>
<% end %>

<div id='edit_post_panel'>
  <%= simple_form_for @post, html: {class: 'form-vertical', data: {'post-id' => @post.id}} do |f| %>
  <div class='row-fluid'>
    <div class='span2'>
      <div class='well'>
        <ul class="nav nav-list">
          <li class="nav-header">Content</li>
          <% @post.contents.sort_by(&:locale).each do |content| %>
          <li class='<%= 'active' if content.locale == current_locale %>'>
            <a href="#<%= content.locale %>" data-toggle="tab">
              <%= icon_tag('icon-file') %> <%= locale_name(content.locale) %>
            </a>
          </li>
          <% end -%>
          <li class="nav-header">Other</li>
          <li><a href="#revisions" data-toggle="tab"><%= icon_tag('icon-tags') %> Revisions</a></li>
          <li><a href="#settings" data-toggle="tab"><%= icon_tag('icon-cogs') %> Settings</a></li>
          <% unless @post.new_record? %>
          <li class="nav-header">Actions</li>
          <li><%= link_to_publish @post %></li>
          <li><%= link_to_unpublish @post %></li>
          <li><%= link_to_review @post %></li>
          <li><%= link_to_delete @post %></li>
          <% end -%>
        </ul>
      </div>
    </div>
    <div class='span10'>

      <div class="tab-content">

        <%= f.simple_fields_for :contents do |c| %>
        <%= render 'georgia/pages/fields/content', f: c, locale: c.object.locale, slug: @post.slug %>
        <% end -%>

        <div class='tab-pane' id='revisions'>
          <%= render 'georgia/pages/fields/revisions', revisions: @post.revision_records.decorate %>
        </div>

        <div class="tab-pane" id="settings">
          <%= render 'kennedy/posts/fields/settings', f: f %>
        </div>

      </div>

    </div>
  </div>
  <% end %>
</div>


<%= content_for :ujs do %>
<script type="text/javascript">
$(function() { Georgia.init(); });
</script>
<% end -%>