<h1 class="category-header">
  <div class="pull-right">
    <%= link_to "#{icon_tag('icon-plus-sign')} Add Category".html_safe, new_category_url, class: 'btn btn-primary' %>
  </div>
  Categories
</h1>

<%= paginate @categories %>

<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Posts</th>
    <th>Slug</th>
    <th></th>
  </thead>
  <tbody>
    <% if @categories and @categories.any? %>
    <%= render @categories %>
    <% else %>
    <tr>
      <td colspan="6">
        There are currently no categories. <%= link_to 'Create a new one', new_category_url %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @categories %>

<%= link_to "#{icon_tag('icon-plus-sign')} Add Category".html_safe, new_category_url, class: 'btn btn-primary' %>